body {
  font-family: 'Amatic SC', cursive;
}

h1 {
  text-align: center;
  font-size: 3rem;
  display: block;
}

button {
  display: block;
  margin: 0 auto;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
}

div.player {
  font-size: 2.5rem;
  margin: 5% 7%;
  position: relative;
  height: 25%;
}

div.player.active {
  background: yellow;
}

img {
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

h4 {
  margin: 10px 0 0 0;
}

div.one {
  order: 1;
}

div.two {
  order: 3;
}

table {
  margin-top: 5% 3% 0 3%;
  padding: 0;
  order: 2;
}

tr.row1 {
  padding: 0;
  margin: 0;
}

td {
  height: 150px;
  width: 150px;
  padding: 0;
  margin: 0;
}

td:hover {
  background-color: lightblue;
  cursor: pointer;
}

td:not(:empty):hover {
  background-color: lightgray;
  cursor: default;
}

td.t {
  border-bottom: 2px solid black;
}

td.m {
  border-bottom: 2px solid black;
}

td.l {
  border-left: 2px solid black;
}

td.r {
  border-right: 2px solid black;
}

td.marked {
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
}

td.marked.x {
  color: #3FBFBF;
}

td.marked.o {
  color: #7FBF3F;
}
